<!-- Services -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Services</h2>
                <hr class="star-light"> 
                    {{#if user.service}} 
                        {{#each user.service}}
                             <div class="col-sm-12 col-lg-6 text-center" style="word-wrap: break-word; margin-bottom: 60px;">
                                <i class="{{icon}}" style="height: 10px;"></i>
                                <p>{{name}}</p>
                                <p>{{description}}</p>
                                <br>
                                <br>
                            </div>
                        {{/each}} 
                    {{/if}}
            </div>
        </div>
    </div>
</section>

